[project]
	description = My Customized vim configuration
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hiprince (hiprince)
[access "refs/for/refs/*"]
	read = group user/hiprince (hiprince)
	push = group user/hiprince (hiprince)
	label-Code-Review = -2..+2 group user/hiprince (hiprince)
	label-Verified = -1..+1 group user/hiprince (hiprince)
	rebase = group user/hiprince (hiprince)
	removeReviewer = group user/hiprince (hiprince)
	submit = group user/hiprince (hiprince)
[access "refs/heads/*"]
	read = group user/hiprince (hiprince)
	create = group user/hiprince (hiprince)
	push = +force group user/hiprince (hiprince)
	pushMerge = group user/hiprince (hiprince)
[access "refs/tags/*"]
	push = +force group user/hiprince (hiprince)
	pushTag = group user/hiprince (hiprince)
	pushSignedTag = group user/hiprince (hiprince)
